/* MOBILE 767px*/
@media screen and (max-width: 47.938rem) {
  .title {
    font-size: 2.25rem;
    line-height: 2.4rem;
    color: var(--black);
  }
  .subtitle {
    font-size: 1.9rem;
    line-height: 2rem;
    color: var(--secondary);
  }
}
/* DESKTOP 768px*/
@media screen and (min-width: 48rem) {
  .title {
    font-size: 3.125rem;
    line-height: 3.438rem;
    color: var(--black);
  }
  .subtitle {
    font-size: 2.188rem;
    line-height: 2.5rem;
    color: var(--secondary);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--white);
  text-align: center;
  padding-top: 20px;
}

.form {
  width: 16.875rem;
  border-radius: 10px;
  background-color: var(--white);
  padding: 10px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--primary) solid 2px;
  align-self: flex-end;
  margin-bottom: 30px;
}
.input {
  width: 100%;
  font-size: 1.125rem;
  line-height: 20px;
  color: var(--black);
  font-family: 'Arial';
}

.searchIcon {
  border-left: var(--primary) solid 2px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: text;
}
.searchIcon img {
  width: 20px;
  height: 20px;
}
