.header {
  min-height: 50px;
  width: 100%;
  background-color: var(--primary);
  transition: all 0.3s;
  display: flex;
  align-items: center;
}

.header:hover {
  background-color: var(--hover);
}

.link {
  padding: 10px var(--horizontalPadding);
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.block {
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo img {
  width: 2.438rem;
  height: auto;
  display: flex;
  align-items: center;
}
.title {
  color: var(--black);
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 30px;
}
