@import url(./normalize.css);
@import url(./adjustment.css);

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #ffffff;
  --black: #000000;
  --primary: #d8d8d8;
  --secondary: #5f5f5f;
  --hover: #33b7d3;
}

@media screen and (max-width: 767px) {
  :root {
    --horizontalPadding: 20px;
  }
  .container {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --horizontalPadding: 100px;
  }
  .container {
    /* max-width: 1820px; */
    margin: 20px auto;
  }
}
.container {
  background-color: var(--white);
}
